<!DOCTYPE html>
<html>
 
<head>
    <title>Result page</title>
</head>
 
<body>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
    <input type="button" value="Log out" onclick='location.href="./logout"'/>
</body>
 
</html>