<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <div>
        <h1>Welcome to our site</h1>
        <p>Soon here will be some information</br>But you can move to signup page - press ref below</p>
        <input type="button" value="Sign in" onclick='location.href="./signin"'/>
    </div>
</body>
 
</html>