<html>
	<head>
	</head>
	
		<body>
		<table>
				<thead>
			<tr>			
				<th>Firstname</th>
				<th>Lastname</th>
			</tr>
			</thead>
			<tbody>
				{{#each result}}
					<tr onclick="window.location.href='./user?id={{this.id}}'">
						<td>{{this.firstname}}</td>
						<td>{{this.lastname}}</td>
					</tr></br>
				{{/each}}
			</tbody>  		
		</table>
		</body>  	
</html>