<html>
<head>

</head>

<body>
    <input type = "text" value="{{user.id}}">
    <input type = "text" value="{{result.firstname}}"></br></br>
    <input type = "button" value="Go back to resumes" onclick="location.href='./resumes'">
</body>
</html>