<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <div>
        <h1>Welcome to our site</h1>
        <p>Soon here will be some information</br>But you can move to signup page - press ref below</p>
        <a href = "http://localhost:8080/signup"/>
    </div>
</body>
 
</html>